<div class="row-fluid">

  <div class='span12'>

    <div class='row-fluid title-block'>
      <div class='align-right span4'>
        <%= link_to "Yesterday", other_day_path(current_day, :previous), :class => "btn" if current_day %>
      </div>
      <div class='center span4'>
         <h1><%= current_day.strftime("%A, %d %B %Y") %></h1>
      </div>
      <div class='align-left span4'>
        <%= link_to "Next day", other_day_path(current_day, :next), :class => "btn" if current_day %>
      </div>      
    </div>

    <div class="row-metrics row-fluid">
      <div class="details span12">
        <div class="row-metrics row-fluid">
          <div class='span2'>
            <h4>Happiness for this day</h4>
          </div>
          <div class='span10'>
            <%= render 'shared/happiness_distribution', :uid => current_uid, :type => type %> 
          </div>
        </div>
        <div class="row-metrics row-fluid">
          <div class='span2'>
            <h4>Average daily happiness</h4>
          </div>
          <div class='span10'>
            <%= render 'shared/average_happiness_distribution', :type => type %>
          </div>
        </div>
      </div>
    </div>

    <div class="row-metrics row-fluid">
      <div class="span12">
        <%= render 'shared/metrics', :type => type %>
      </div>
    </div>

    <% render 'shared/metrics', :type => type %>

    <%= entries_graph %>

  </div>

</div>