<div class="row-fluid">

  <div class='span12'>

    <div class='row-fluid title-block'>
      <div class='align-right span4'>
        <%= link_to "Previous day", other_day_path(current_day, :previous), :class => "btn btn-themed" if current_day %>
      </div>
      <div class='center span4'>
         <h1>
          <%= current_day.strftime("%A, %d") %>
          <%= link_to current_beginning_of_month_day.strftime("%B"), month_path(current_beginning_of_month_day.month), :class => "" %>
          <%= link_to current_beginning_of_month_day.year, year_path(current_beginning_of_month_day.year), :class => "" %>
        </h1>
      </div>
      <div class='align-left span4'>
        <%= link_to "Following day", other_day_path(current_day, :next), :class => "btn" if current_day %>
      </div>      
    </div>

    <% if entries.any? %>
      <%= render 'shared/key' %>
      <%= render 'shared/happiness_overview', :type => type %>
      <%= render 'shared/metrics', :type => type %>
      <%= render 'shared/entries', :entries => entries %>
    <% else %>
      <div class='row-fluid'>
        <div class='center span12 no-entries'>
          <h3>Sorry! There are no happiness entries available for day you have chosen.</h3>
        </div>    
      </div>
    <% end %>

  </div>

</div>