<div class="row-fluid">

  <div class='span12'>

    <%= link_to "Last month", other_month_path(current_beginning_of_month_day, :previous), :class => "btn" if current_beginning_of_month_day %>
    <%= link_to "Next month", other_month_path(current_beginning_of_month_day, :next), :class => "btn" if current_beginning_of_month_day %>

    <h1 class='center'><%= current_beginning_of_month_day.strftime("%B %Y") %></h1>

    <div class="row-fluid">
      <div class="span6">
        <%= render 'shared/metrics', :type => type %>
      </div>
      <div class="details span6">
        <%= render 'shared/happiness_distribution', :uid => current_uid, :type => type %>
        <br/>
        <%= render 'shared/average_happiness_distribution', :type => type %>
      </div>
    </div>


    <% render 'shared/metrics', :type => type %>

    <%= entries_graph %>

  </div>

</div>