<div class="row-fluid">
  <div class='span12'>

      <div class='row-fluid title-block'>
        <div class='align-right span4'>
          <%= link_to "Last month", other_month_path(current_beginning_of_month_day, :previous), :class => "btn" if current_beginning_of_month_day %>
        </div>
        <div class='center span4'>
           <h1><%= current_beginning_of_month_day.strftime("%B %Y") %></h1>
        </div>
        <div class='align-left span4'>
          <%= link_to "Next month", other_month_path(current_beginning_of_month_day, :next), :class => "btn" if current_beginning_of_month_day %>
        </div>      
      </div>

    <% if entries.any? %>
      <%= render 'shared/happiness_overview' %>
      <%= render 'shared/metrics', :type => type %>
      <%= render 'shared/graph', :entries => entries, :type => type %>
    <% else %>
      <div class='row-fluid'>
        <div class='center span12'>
          <h3>Sorry! There are no happiness entries available for month you have chosen.</h3>
        </div>    
      </div>
    <% end %>

  </div>

</div>