<div class="row-fluid">

  <div class='span12'>


  <%= link_to "Last week", other_week_path(current_beginning_of_week_day, :previous), :class => "btn" if current_beginning_of_week_day %>
  <%= link_to "Next week", other_week_path(current_beginning_of_week_day, :next), :class => "btn" if current_beginning_of_week_day %>

  <h2><%= current_beginning_of_week_day.strftime("%A, %d %B %Y") %> to <%= current_beginning_of_week_day.end_of_week.strftime("%A, %d %b %Y") %> </h2>

  <%= render 'shared/week_overview', :beginning_of_week_day => current_beginning_of_week_day %>

  <% render 'shared/happiness_distribution', :uid => current_uid, :type => type %>
  <% render 'shared/average_happiness_distribution', :type => type %>
  <% render 'shared/metrics', :type => type %>
  <% render 'shared/entries', :entries => entries %>

  </div>

</div>