<div class="row-fluid">
  <div class='span12'>

      <div class='row-fluid title-block'>
        <div class='align-right span4'>
          <%= link_to "Previous year", other_year_path(current_beginning_of_year_day, :previous), :class => "btn" if current_beginning_of_year_day %>
        </div>
        <div class='center span4'>
           <h2><%= current_beginning_of_year_day.strftime("%Y") %> </h2>
        </div>
        <div class='align-left span4'>
          <%= link_to "Following year", other_year_path(current_beginning_of_year_day, :next), :class => "btn" if current_beginning_of_year_day %>
        </div>      
      </div>

    <%= render 'shared/months' %>

    <% if entries.any? %>
      <%= render 'shared/key' %>
      <%= render 'shared/happiness_overview' %>
      <%= render 'shared/metrics', :type => type %>
      <%= render 'shared/graph', :entries => entries, :type => type %>
    <% else %>
      <div class='row-fluid'>
        <div class='center span12 no-entries'>
          <h3>Sorry! There are no happiness entries available for year you have chosen.</h3>
        </div>    
      </div>
    <% end %>

  </div>

</div>