<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @metric.title %>
</p>

<p>
  <b>Description:</b>
  <%= @metric.description %>
</p>


<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>
